
#HomePageIntro {
    display: flex;
    flex-direction: row;
    gap: 4rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    padding-left: 15px;
    margin-top: 5px;
  }
  #testimonial{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}
  #intro h2 {
    font-size: 50px;
  }
  
  #intro p {
    font-size: 20px;
  }
  
  #IntroPhoto {
    width: 60%;
    border-radius: 5px;
  }
  
  #survey-cards-main {
    display: flex;
    flex-direction: row;
    gap: 3rem;
  }
  
  #survey-card {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    width: 25%;
  }
  
  #survey-card img {
    width: 100%;
    height: auto;
  }
  
  #survey-card h3 {
    margin-top: 10px;
  }
  
  #survey-card p {
    margin-bottom: 10px;
  }
  
  #survey-card button {
    border-radius: .25rem;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 400;
    padding-left: 25px;
    padding-right: 25px;
    color: #fff;
    -webkit-clip-path: polygon(0 0,0 0,100% 0,100% 0,100% calc(100% - 15px),calc(100% - 15px) 100%,15px 100%,0 100%);
    clip-path: polygon(0 0,0 0,100% 0,100% 0,100% calc(100% - 15px),calc(100% - 15px) 100%,15px 100%,0 100%);
    height: 40px;
    font-size: 0.7rem;
    line-height: 14px;
    letter-spacing: 1.2px;
    transition: .2s .1s;
    background-image: linear-gradient(90deg,#1c1c1c,#6220fb);
    border: 0 solid;
    overflow: hidden;
  }
  #survey-card button:hover{
    cursor: pointer;
    transition: all .3s ease-in;
    padding-right: 30px;
    padding-left: 30px;
  }
  #progress-bar {
    width: 100%;
    background-color: #f1f1f1;
    border-radius: 4px;
    height: 10px;
    margin-bottom: 10px;
  }
  
  #progress {
    width: 50%;
    background-color: #337ab7;
    height: 100%;
    border-radius: 4px;
  }
  
  #ratings {
    margin-bottom: 10px;
  }
  
  #rating {
    color: #f1c40f;
    font-size: 20px;
  }
  

  
  /* For screens with a maximum width of 480px */
  @media screen and (max-width: 480px) {
    #MainHomeContainer{
      display: flex;
      flex-direction: column;
      width: 100%;
      font-size: 10px;
      text-align: center;
    }
    #HomePageIntro {
      flex-direction: column;
      gap: 2rem;
      width: 100%;
    }
  
    #IntroPhoto {
      width: 100%;
    }
  
    #survey-cards-main {
      flex-direction: column;
      font-family: 'Times New Roman', Times, serif;
      gap: 2rem;
      width: 100%;
    }
    #survey-card h3 {
      margin-top: 10px;
      font-size: 15px;
    }
    
    #survey-card p {
      margin-bottom: 10px;
      font-size: 10px;
    }
    
    #survey-card {
      width: 100%;
      font-size: 10px;
    }
    #intro h2 {
      font-size: 25px;
      text-align: center;
      font-family: 'Times New Roman', Times, serif;
    }
    #intro p {
      margin-bottom: 10px;
      font-size: 10px;
      font-family: Arial, Helvetica, sans-serif;
      text-align: justify;
      margin-left: 5px;
      margin-right: 10px;
     
    }
    
  }
  
 