#RegisterMain{
    display: flex;
    flex-direction: row;
    gap: 5rem;
    justify-content: center;
    align-items: center;
    background-color: hsl(0, 0%, 98%); 
 
}
#RegisterForm{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: left;
    width: 40%;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 2px 2px 8px rgba(0,0,0,0.1);
    background-color: #343541;
    overflow: hidden;
    margin: 10px;
    color: #ffff;
    border-radius: 5px;
    padding-top: 0.5rem;
    padding-bottom: 2rem;
    
}
.card-header {
    background-color: #333;
    padding: 16px;
    text-align: center;
    width: 50%;
  }
  
  .card-header .text-header {
    margin: 0;
    font-size: 18px;
    color: rgb(255, 255, 255);
  }
#RegisterForm input{
    width: 60%;
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#RegisterButton{
    padding: 12px 24px;
    margin-left: 13px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    background-color: #333;
    color: #fff;
    text-transform: uppercase;
    transition: background-color 0.2s ease-in-out;
    cursor: pointer
}
#RegisterButton:hover{
    background-color: #ccc;
    color: #333;
  
}
#RegisterForm p{
    font-size: 10px;
}
@media screen and (max-width: 480px) {
    #RegisterMain{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    #RegisterForm{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    #RegisterForm input{
        width: 90%;
    }
}