#RegisterMain{
    display: flex;
    flex-direction: row;
    gap: 5rem;
    justify-content: center;
    align-items: center;
    background-color: hsl(0, 0%, 98%); 
 
}
#RegisterForm{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: left;
    
}
#RegisterForm p{
    font-size: 10px;
}
#RightRegisterImg img{
    width: 400px;
    margin-top: 25px;
    margin-right: 50px;
    background-image: url(../assets/bg-pattern-intro-right-desktop.svg);


}