#UserRegisterMain{
    display: flex;
    flex-direction: row;
    gap: 5rem;
    justify-content: center;
    align-items: center;
    background-color: hsl(0, 0%, 98%); 
}
#UserRegisterForm{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: left;
    
}
#UserRegisterForm p{
    font-size: 10px;
}
#UserNames{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    margin-left: 10rem;
}
input{
    max-width: 250px;
}
#UsercountyPhone{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    margin-left: 10rem;
}
#UserEmailDate{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    margin-left: 10rem;
}
#UserPassword{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    margin-left: 10rem;
}
#UserRightRegisterImg img{
    width: 400px;
    margin-top: 25px;
    margin-right: 50px;
    background-image: url(../assets/bg-pattern-intro-right-desktop.svg);


}