#create-survey{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 100%;

}
#surveycreation-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    min-width: 100%;
    padding-left: 10px;
    padding-right: 10px;
   
    

}
input{
    width: 30%;
    text-align: center;
}
textarea{
    min-width: 80%;
}