.survey-response {
    margin-bottom: 20px;
  }
  
  .input-container {
    display: flex;
    margin-bottom: 10px;
  }
  
  .input-container input {
    flex: 1;
    margin-right: 10px;
  }
  
  .btn-container {
    margin-top: 10px;
  }
  
  .btn-container button {
    margin-right: 10px;
  }
  
  .download-btn {
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
  }
  
  .end-viewing-btn {
    background-color: #f44336;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
  }
#surveyIDsearch{
    margin-right: 10px;
    padding: 5px;
}